.button{
    width: 210px;
    height: 50px;
    vertical-align: 60%;
    border-radius: 6px;
    background: rgb(202, 1, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    border: none;
    &_compilations{
        width: 132px;
        height: 35px;
        border-radius: 11px;
        font-weight: 400;
        line-height: 24px;
        vertical-align: 20%;
    }
}
.reserve{
    width: 120px;
    height: 40px;
    border-radius: 6px;
    background: rgb(202, 1, 0);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    border: none;
    position: relative;
    z-index:10;
    &::after{
        content: '';
        width: 26px;
        height: 26px;
        background: rgb(202, 1, 0);
        position: absolute;
        top: 6px;
        left: 105px;
        z-index: -10;
        transform: rotate(-45deg);
    }
    &_buy{
        width: 130px;
        background: rgb(38, 38, 38);
        z-index: 8;
        &::after{
            content: '';
            background: rgb(38, 38, 38);
            z-index: 7;
            left: 115px;
            top: 7px;
        }    
    }
    &_detailed{
        width: 130px;
        background: rgb(115, 115, 115);
        z-index: 1;
        &::after{
            content: '';
            background: rgb(115, 115, 115);
            z-index:-20;
            left: 115px;
            top: 7px;
        }  
    }
}

