@media (max-width:768px){
    iframe{
        width: 708px;
        height: 360px;
    }
    .adress{
        left: 373px;
        top: 64px;
    }
    .head{
        width: 100%;
        min-height: 61px;
    }
    .data{
        display: none;
    }
    .company{
        width: 100%;
        max-height: 61px;
        margin: 0;
        position: relative;
        &__logo{
            width: 127px;
            height: 36.89px;
            margin-left: 69px;
            img{
                width: 127px;
                height: 36.89px; 
            }
        }
        &__year{
            display: none;
        }
        &__list{
            display: none; 
        }
        &__tel{
            font-size: 18px;
        }
        &__form{
            width: 308px;
            height: 61px;
            font-size: 18px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
            }
            span{
                display: none;
            }
            .button{
                display: none;
            }
        }
    }
    .nav{
        .nav__search{
            position: absolute;
            right: 30px;
            top: 24px;
            div{
                margin-left: 24px;
                img{
                    width: 14px;
                    height: 14px;
                }
            }
            div:after{
                width: 17px;
                height: 10px;
                top: -5px;
                right: -11px;
            }
        }
        .nav__list{
            display: none;
        }
    }
}