@media(max-width: 768px) {
    .cans{
        width: 97%;
        margin: 40px auto 0 auto;
    }
    .cans-portners{
        margin: 30px 0;
        min-height: 85px;
        &__logo-cans{
            width: 182px;
            height: 85px;
            img{
                width: 150px;
            }
        }
    }
    .response{
        flex-wrap: wrap;
        margin-top: 0;
        &__website{
            margin-top: 40px;
            width: 347px;
            height: 115px;
            padding: 17px 20px;
            h5{
                font-size: 16px;
                line-height: 19px;
            }
            a{
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .maps{
        flex-wrap: wrap;
        margin-top: 0; 
        &__yandex{
            margin-top: 30px;
            width: 745px;
        }
    }
    .reviews{
        min-height: 605px;
    }
    .rev{
        min-height: 518px;
        &__video{
            min-height: 518px;
        }
        &__player{
            min-height: 218px;
            background-position: 150px 30px;
        }
        &__cont{
            padding: 20px;
            h6{
                margin-top: 6px;
                font-size: 18px;
                line-height: 21px;
            }
            p{
                margin-top: 9px;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}