* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './_heder';
@import './_button';
@import './_sale';
@import './_choice';
@import './_ptsd';
@import './_special';
@import './_car-loan';
@import './_cans';
@import './_company';
@import './_footer';
@import './mediaHeder';
@import './mediaSale';
@import './_mediaChoice';
@import './mediaPtsd';
@import './_mediaSpecial';
@import './mediaCar-loan';
@import './_mediaCans';
@import './_mediaCompany';

